.title{
    height: .63rem;
    width: 100vw;
    border-bottom: .01rem solid #878383;
    text-align: center;
    line-height: .63rem;
    position: relative;
}
.title h3{
    width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: .38rem;
    color: rgba(44,42,42,1);
}
.title .back{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title .back span:nth-child(1){
    font-size: .5rem;
    margin: 0 .1rem 0 .05rem;
}
.title .back span:nth-child(2){
    font-size: .2rem;
}
form{
    width: 5.02rem;
    margin: .59rem auto;
    position: relative;
}
form>div{
    border-top: .01rem solid #878383;
    height: .67rem;
    display: flex;
    align-items: center;
    position: relative;
}
form>div.bt{
    border-bottom: .01rem solid #878383;
}
form>div>input{
    height: .5rem;
}
.visibleSymbol{
    width: .44rem;
    height: .25rem;
    background-image: url('../images/visible.png');
    background-size: cover;
    position: absolute;
    right: 0;
}
form>div>span{
    position: absolute;
    right: 0;
    display: block;
    width: 1.3rem;
    height: .3rem;
    border-radius: .14rem;
    border:1px solid rgba(139,139,139,1);
    font-size: .2rem;
    line-height: .3rem;
    text-align: center;
}
.submit-btn{
    width: 5.62rem;
    height: .58rem;
    border-radius: .25rem;
    margin-top: .53rem;
    background:rgba(255,113,113,1);
    text-align: center;
    line-height: .58rem;
    font-size: .34rem;
    font-weight:bold;
    color:rgba(255,255,255,1);
    position: absolute;
    left: -.25rem;
}
.info{
    position: absolute;
    bottom: .59rem;
    left: 50%;
    transform: translateX(-50%);
}
.info p{
    font-size: .2rem;
    text-align: center;
}
.info p:nth-child(2){
    margin: .2rem 0 .2rem 0;
}